.lesson {
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.choice-app {
    height: 100%;
    min-width: 45%;

    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 20px;
}

.progress-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar-progresss {
    width: 90%;
    margin-left:10px;
    margin-right: 10px;
}

.progress-bar-progresss {
    height: 35px;
}

.choice-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prompt-question {
    font-size: 2.5rem;
    font-weight: 900;
}

.prompt-value {
    font-size: 2rem;
    text-align: left;
}

.true-false {
    display: flex;
    flex-direction: row;
}

.true {
    padding: .5em 1em;
    border: 2px solid var(--gray);
    border-radius: 5px;
}

.continue {
    font-size: 1.5rem;
    text-align: center;
}

.continue button {
    border-radius: 10px;
    border: 1px solid var(--green-dark);
    background-color: var(--green-dark);
    padding: 1em 2em;
    color: #FFF;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    box-shadow: 0px 5px 0px 0px var(--green-dark2);
    cursor: pointer;
}

.continue button:active {
    border: 1px solid var(--green-dark2);
    background-color: var(--green-dark2);
    color: #FFF;
    box-shadow: 0px 5px 0px 0px var(--green-dark);
    cursor: pointer;
}

.answer {
    font-size: 1.8rem;
    padding: 1em 2em;
    margin-bottom: .5em;
    border-radius: 10px;
    border: 2px solid var(--gray);

    cursor: pointer;
    box-shadow: 10px 0px 12px 0px var(--gray);
}

.answer:hover {
    background-color: var(--answer-selected);
    border: 2px solid var(--answer-selected);
    color: var(--blue);
    box-shadow: 0px 5px 0px 0px #82DAFF
}

.answer-selected {
    background-color: var(--answer-selected);
    border: 2px solid var(--answer-selected);
    color: var(--blue);
    box-shadow: 0px 5px 0px 0px #82DAFF
}

.answer-results {
    width: 100%;
    height: 20%;
    
    font-size: 2rem;
    font-weight: 900;
    padding: 1em;

    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
}

.answer-results-correct {
    background-color: var(--green);
    color: var(--green-dark);
}

.answer-results-wrong {
    background-color: var(--red-light2);
    color: var(--red);
}

.answer-results-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-results-left-img img {
    width: 40px;
    margin-right: 5px;
}

.answer-results-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-results-correct-msg {
    color: var(--green-dark2);
    font-size: 3rem;
}

.answer-results-wrong-msg {
    color: var(--red);
    font-size: 3rem;
}

.answer-results-right button {
    color: #FFF;
    padding: .5em 1.5em;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.answer-results-correct .answer-results-right button {
    background-color: var(--green-dark);
    border: 1px solid var(--green-dark);
    box-shadow: 0px 5px 0px 0px var(--green-dark2);
}

.answer-results-wrong .answer-results-right button {
    background-color: var(--red-light);
    border: 1px solid var(--red-light);
    box-shadow: 0px 5px 0px 0px var(--red);
}

.verified {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verified img {
    width: 30em;
}

/* 
.answer-results-right button {
    color: #FFF;
    background-color: var(--green-dark);
    padding: .5em 1.5em;
    border-radius: 10px;
    border: 1px solid var(--green-dark);
    box-shadow: 0px 5px 0px 0px var(--green-dark2);
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
} */