html, body {
    background-color: var(--white);
}

.dashboard {
    height: 100%;
}

header {
    background-color: var(--white);
    max-height: 15%;
    border-bottom: 2px solid var(--gray);
}

.header-border {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.header-img {
    width: 15%;
}
.header-img img {
    width: 50px;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.header-info-language {
    width: 15%;
    display: flex;
    justify-content: end;
}

.header-info-language img {
    width: 30px;
}

.header-info-tokens {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-info-tokens div {
    margin-right: 5px;
}

.header-info-tokens img {
    width: 30px;
}

.header-info-tokens-amount {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding-top: 4px;
    color: var(--token);
}

.header-info-level {
    width: 40%;
    height: 80%;

    border: 2px solid var(--gray);
    border-radius: 5px;

    padding-left: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-info-level-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    width: 80%;
}

.header-info-level-img img {
    width: 20px;
}


.header-profile {
    width: 10%;
    display: flex;
    justify-content: end;
}

.header-profile img {
    width: 30px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column { width: 50%; }

.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.topics-list {
    height: 100%;
}

.topics-list .row {
    margin-bottom: 25px;
}

.topics-list .row .column {
    margin-right: 15px;
}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topic-img img {
    width: 80px;
    border: 3px solid var(--gray);
    padding: .5em;
    border-radius: 100%;
}

.topic-text {
    font-size: 1.8rem;
    font-weight: 550;
}
