header {
    max-height: 15%;
    border-bottom: 2px solid var(--gray);
}

.header-border {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 50px;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.header-info-language {
    width: 15%;
    display: flex;
    justify-content: end;
}

.header-info-language img {
    width: 30px;
    cursor: pointer;

}

.header-info-tokens {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-info-tokens div {
    margin-right: 5px;
}

.header-info-tokens img {
    width: 30px;
    cursor: pointer;

}

.header-info-tokens-amount {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding-top: 4px;
    color: var(--token);
    cursor: pointer;
}

.header-info-level {
    width: 40%;

    border: 2px solid var(--gray);
    border-radius: 5px;

    padding: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

.header-info-level-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    width: 80%;
}

.header-info-level-img {
    width: 20%;
    display: flex;
    justify-content: end;
}

.header-info-level-img img {
    width: 20px;
}

.header-profile {
    width: 15%;
    display: flex;
    justify-content: end;
}

.header-profile img {
    width: 30px;
    cursor: pointer;
}