* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 10px;

    --red: #BB0A21;
    --red-light: #F42A45;
    --red-light2: #fbbfc7;
    --black: #252627;
    --white: #FFF9FB;
    --blue: #4B88A2;
    --blue-light: #7EADC8;
    --gray: #D3D4D9;
    --continue: #06b5ff;
    --answer-selected: #CDF0FF;

    --green: #d7ffb8;
    --green-dark: #58cc05;
    --green-dark2: #46a304;
    --token: #f49e07;
}

html, body, #root, .app {
    height: 100%;
    margin: 0;
    padding: 0;
}
