.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column { width: 50%; }

.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin-top: 25px; */
}

.topics-list {
    height: 100%;
}

.topics-list .row {
    /* margin-bottom: 25px; */
}

.topics-list .row .column {
    margin-right: 15px;
}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topic-img img {
    width: 80px;
    border: 3px solid var(--gray);
    padding: .5em;
    border-radius: 100%;
    box-shadow: 10px 2px 12px 1px var(--gray);
}

.topic-text {
    font-size: 1.8rem;
    font-weight: 550;
}

a:link {
    text-decoration: none;
    color: #000;
}